
/* Smartphone and Tablet devices */
@media screen and (max-width: 1023px) {

    .logo__container {
        margin: 0 auto;
        font-size: 10pt;
    }


    .container {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0;
        height: 75vh;
    }


    .container span{
        margin-right: 0;
    }


    #hours {
        padding: 30px;

    }


    #minutes {
        padding: 20px;
    }


    #seconds {
        padding: 10px;
    }
}
