
/* Reset Styles */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Verdana, Tahoma;
    background-color: #B1D0E0;
    color: #1A374D;
}



/* Logo */
.logo__container {
    margin-top: 2rem;
    margin-left: 4rem;
    width: fit-content;
}
.logo__container *{
    border-radius: 1rem;
}
#logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}
.logo__container span {
    margin-left: 0.5rem;
}



/* Displayed Time */
.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container span{
    margin-right: 4rem;
    font-weight: bold;
    background-color: #1A374D;
    color: #B1D0E0;
    border: 5px solid #000000;
}
#hours{
    padding:6rem;
    border-radius: 10rem;
    font-size: 60pt;
}
#minutes{
    padding: 4rem;
    border-radius: 8rem;
    font-size: 40pt;
}
#seconds{
    padding: 2rem;
    border-radius: 6rem;
    font-size: 20pt;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        /* background-color: green; */
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container span{
        margin-right: 0;
        margin-bottom: 1rem;
    }
    #hours{
        padding:1.5rem;
    }
    #minutes{
        padding:1rem;
    }
    #seconds{
        padding:0.5rem;
    }
    .logo__container {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        /* background-color: indigo; */
        margin-top: 1rem;
    }
    .container span{
        margin-right: 1rem;
    }
    #hours{
        padding:4rem;
    }
    #minutes{
        padding:2.5rem;
    }
    #seconds{
        padding:1rem;
    }
    .logo__container {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}