
/* Logo */
.logo__container {
    margin-top: 2rem;
    margin-left: 4rem;
    width: fit-content;
}


.logo__container *{
    border-radius: 1rem;
}


#logo {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}


.logo__container span {
    margin-left: 0.5rem;
}



/* Displayed Time */
.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container span{
    margin-right: 4rem;
    font-weight: bold;
    background-color: #1A374D;
    color: #B1D0E0;
    border: 5px solid #000000;
}


#hours{
    padding:6rem;
    border-radius: 50%;
    font-size: 60pt;
}


#minutes{
    padding: 4rem;
    border-radius: 50%;
    font-size: 40pt;
}


#seconds{
    padding: 2rem;
    border-radius: 50%;
    font-size: 20pt;
}
